.glasses{
    padding: 80px 40px;
}
.glasses .listGlass{
    margin: 30px 0;    
    background-color:white;
    height:20vh;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.glasses .listGlass img{
    width: 100px;
    height:auto;
    margin: 20px 20px;
}
.glasses .listGlass:hover img{
    cursor: pointer;
}